@media only screen and (max-width: 500px){
    .container-create-project{
        margin-left:22px !important;
    }
    .form-container-createPro{
        padding: 18px !important; 
    }
}
.container-create-project{
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    border-radius: 12px;
    padding: 32px 42px 22px 42px;
    width: auto;
    height: auto;
    background-color: #F9F9F9;
}

.btn-container-create-project{
    display: flex;
    margin-top: 32px;
  
    
}



.form-container-createPro{
    padding: 32px 62px 22px 32px; 
}
