.container{
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 32px;
    padding: 12px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
    0px 2px 4px rgba(0,0,0,0.1), 
    0px 4px 8px rgba(0,0,0,0.1), 
    0px 8px 16px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 32px 42px 22px 42px;
    /* width: 1000px; */
}

.btn-container-create-project{
    display: flex;
    margin-top: 62px;
    margin-right: 22px;
    flex-direction: row-reverse;
    
}

.form-container-createPro{
    /* padding: 32px 42px 22px 42px;  */
}