:root {
    --color-primary: #A5F1E9;
    --color-secondary: #62B6B7;
    --text-color: #F9F9F9;
    --text-color2: black;
    --font-family: 'Montserrat', sans-serif;
    ---text-shadow:1px 1px 0px rgba(0,0,0,0.2);
}
@media only screen and (max-width: 500px){
    .card-employee{
        margin: 12px 0px !important;
    
    }
}
.card-employee {
    justify-content: flex-start;
    width: 260px;
    height: auto;
    padding: 10px;
    background-color:white;
    border: solid 1px lightgray;
    border-radius: 8px;
    padding: 12px;
    margin: 32px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    font-size: 18px;
   
    
}

/* .card-img{
    height: 200px;
    width: 200px; 
} */
 .employee-card-img{
    /* border: solid 1px lightgray; */
    margin-top: 32px;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}

.container-body-list{
    height: auto;
}

.card-body{
    padding: 32px !important;

}

.card-text{
    color: var(--color-secondary);
    font-weight: 700;
    /* opacity: 80%; */
    text-shadow: var(---text-shadow);

}