.modaldiv{
   position: fixed; 
   display: flex;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    width: 100% ; 
    height: 700px;
    padding:100px ;
    
   
    
}
.title-btn-container{
   display: flex;
   justify-content: space-between;
    
}
.modal-content{
  padding: 22px!important;
  background-color:	#F8F8F8 !important;
  border: 1px solid lightgray !important;
  border-radius: 8px!important; 
  height: 100% !important; 
  
}


  