.task-list-body{
 background-color:	#F7F7F7;
 border-radius: 8px;
 border:solid 1px lightgray;
 /* opacity: 90%; */
 padding: 32px;
 border-radius: 8px;
 margin-top:32px;
 box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.btn-add-member{
    margin-top: 22px;
}