:root {
    --color-primary: #A5F1E9;
    --color-secondary:#22A39F;
    --text-color: #F9F9F9;
    --text-color2: black ;
    --font-family: 'Montserrat', sans-serif;
  }


  @media only screen and (max-width: 500px){
    .body{
        font-size: 18px;
        display: flex;
        background-image: none !important;
        width: auto !important;
        margin: 0px !important;
        height: 800px !important;
        line-height: 2em;
    }
    .box-container-contacts{
        width: 100% !important;
        margin: 0px 0px !important;
        border-radius: 0% !important;
        padding: 60px !important;
        height: 100% !important;
        border: 1px solid lightgray !important;
        
    }
   .container2{
    margin-left: 0px !important;
    width: 100% !important;
   }
   .text-message{
    margin-top: 10px !important;
    height: 40% !important;
   
}
   }
.body h5{
    padding-top: 12px;
}
.body{
    background-image: url("../../images/contacs.png" );
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
}


    .container2{
        margin-left: 560px;
        }

        .box-container-contacts{
            display: flex;
            flex-direction: column;
            border: 1px solid white;
            border-radius: 20px;
            height: 640px;
            width: 80%;
            margin: 160px 444px;
            padding: 100px;
            background-color: var(--text-color);
            opacity: 80%;
        }

        .box-container-contacts h5{
            color: var(--text-color2);
        }

        .text-message{
            margin-top: 12px;
            height: 100%;
           
        }

   .btn-contact{
    height: 50px;
    width: 100px;
    margin: 22px 0 0 0 !important;
   }


   @media only screen and (max-width: 1600px){
    .body{
        font-size: 18px;
        height: 800px;
    }
    .container2{
        width: 667px;
        }
        .box-container-contacts{
           margin-left: 160px;
           margin-top: 70px;
            /* background-color: aqua; */
        }
   }

